#app {
  --brand-color: hsla(191.68, 90.24%, 57.122%);
}

form {
  padding-block: .4rem;
  padding-inline: .2rem;

  input {
    width: 24ch;
    border: 1px solid transparent;
    padding: .4rem;

    &:focus {
      outline: 1px solid hsla(191.68, 90.24%, 57.122%, .2);
      border-radius: 5px;
    }
  }

  button {
    border-radius: 30px;
    border: 0px solid transparent;
    background-color: var(--brand-color);
    color: white;
    padding-block: .4rem;
    padding-inline: .6rem;
  }
}

#opener {
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;

  img,
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

dialog {
  transition: all .7s;
  padding: 0 0 0 0;
  box-sizing: border-box;
  margin-top: 14vh;
  margin-right: 1vw;
  border-radius: 30px;
  border: 3px solid var(--brand-color)
}

.dialog-inner {
  padding: 5px 5px;
}

dialog::backdrop {
  background-color: transparent
}

#cancel-icon,
#search-icon {
  transition: all 1s;
  opacity: 1
}


/* these styles must come after whatever is referred to inside; keep this at bottom of file  */
@starting-style {
  dialog {
    transition: 1s all;
    opacity: 0;
    transform: scale(1, 1);
    transform: translateX(200px);
  }

  #cancel-icon,
  #search-icon {
    opacity: 0;
  }

}

.hidden {
  display: none;
}